* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /* incluye border y padding pero no margin */
}

body, button {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    width: 90%;
    height: 10vh; /* 1% viewport */
    margin: auto;
    align-items: center; /* Aca estaba la clave */
}

.logo-container, .nav-links, .cart {
    display: flex;
}

.logo {
    font-weight: 400;
    margin: 5px;
    font-size: 30px;
}

.logo-container {
    flex: 1;
}

nav {
    flex: 2;
}

.cart {
    flex: 1;
    justify-content: flex-end;
}

.nav-links {
    justify-content: space-evenly;
    list-style: none; /* clave */
}

.nav-link {
    text-decoration: none;
    color: #5f5f79;
    font-size: 20px;
}

.presentation {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}

.introduction {
    flex: 1;
}

.cover {
    flex: 1;
}

.cover img {
    height: 60vh;

    /* efecto sombra */ 
    filter: drop-shadow(0px 5px 3px black);
	animation: drop 1.5s ease;
}

.intro-text h1 {
    font-size: 44px;
    font-weight: 500;

    /* esto es un efecto de degradado */
    background: linear-gradient(to right, #494964, #6f6f89);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-text p {
    margin-top: 5px;
    font-size: 22px;
    color: #585772;
}

.cta {
    padding: 14px 0px 0px 0px;
}

.cta-select {
	border: 2px solid #c36cbb;
	background: transparent;
	color: #c36cbb;
	width: 150px;
	height: 50px;
	cursor: pointer;
	font-size: 16px;
}
.cta-add {
	background: #c36cbb;
	width: 150px;
	height: 50px;
	cursor: pointer;
	font-size: 16px;
	border: none;
	color: white;
	margin: 30px 0px 0px 30px;
}

.big-circle {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: -1;
	opacity: 0.5;
	height: 80%;
}
.medium-circle {
	position: absolute;
	top: 30%;
	right: 30%;
	z-index: -1;
	height: 60%;
	opacity: 0.4;
}
.small-circle {
	position: absolute;
	bottom: 0%;
	left: 20%;
	z-index: -1;
}
